* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
}

/* Grid-layout */

.wrapper {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto; 
}

/* Styling on all three main websites */

body {
    background-color: #202426;
}

header {
    grid-row: 1/2;
    grid-column: 1/2;   
}

h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 5rem;
    margin-top: 2rem;
    margin-left: 2rem;
    color: #A67280;
}

nav {
    margin: 1rem; 
}
    
nav a {
    text-decoration: none;
    font-family: 'Amatic SC', cursive;
    font-size: 1.4rem;
    color: #7BA1A6;
    margin-left: 1rem;
    margin-right: 1rem;   
}

.logo {
    font-family: 'Indie Flower', cursive;
    text-align: end;
    color:  #A67280;
    margin-right: 1rem;
}

main {
    grid-row: 2/3;
    grid-column: 1/2;
    margin-bottom: 10rem;
}

/* Flexbox for portfolio-photos */

.project-container {
    display: flex;
    flex-flow: row wrap;   
}   

.project-item {
    margin-left: 5rem;
}

 .project-item a:nth-child(3) {
    margin: 0 18rem;
}     

.project-item img {
  max-width: 40%;
  max-height: 40%;
  border: 3px solid black;
  border-radius: 25px; 
  margin: 0.5rem 2rem;
}

.project-item img:hover {
    opacity: 0.4;
}

/* Styling for info and contactpage */

h3 {
    font-family: 'Amatic SC', cursive;
    font-size: 1.8rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    text-align: center;
    color: #7BA1A6;
}

article img {
    float:left;
    max-width: 40%;
}

article p {
    margin: 1.5rem 3rem;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 1.5rem;
    font-weight: bold; 
    color: #7BA1A6; 
}

.contactpage img {
    float: left;
    max-width: 100%;
    margin-left: 1.5rem;
    margin-top: 1rem;
}

.contactinfo {
    margin: 1.5rem 30rem;
    font-family: 'Amatic SC', cursive;
    font-size: 1.5rem;
}

.contactinfo p, h4 {
    color:#7BA1A6;
}

hr {
    border: 1px solid black;
}

/* Footer for all three main websites */

footer {
    grid-row: 3/4;
    grid-column: 1/2;
    bottom: 0;   
}

h5 {
    color: #7BA1A6;
    font-family: 'Amatic SC', cursive;
    text-align: center;
    font-size: 1.2rem;
}

/* Styling for project-websites */

 .project-site {
    background-color: #D9E2E4;
} 

.project-site h1 {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 4rem;
    color: #15403B;
    margin-top: 1rem;
}

.project-site a {
    text-decoration: none;
    font-family: 'Amatic SC', cursive;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #15403B;
    margin-left: 5rem;
}

.project-site img {
    max-width: 100%;
}

.featurephoto {
    margin: 0 8.5rem;
}

.project-site p {
    font-family: 'Amatic SC', cursive;
    font-size: 1.5rem;
    text-align: center;
    color: #15403B;
    margin: 4rem;
}

.projectsite-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.projectsite-gallery img {
    max-width: 30%;
    margin: 0.5rem;
}

.projectsite-gallery .malmo {
    max-width: 50%;
    margin: 1rem 30rem;
}

.project-site h4 {
    color: #15403B;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    margin-left: 1.5rem;
    font-size: 1.5rem;
}

/* Layout for tablet devices and smaller laptops */

@media screen and (min-width: 1024px) and (max-width: 1185px) {

    .wrapper { 
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto auto;
    grid-template-columns: 45rem auto; 
}

h3 {
    margin-left: 7rem;
}

.project-item a img {
    max-width: 60vw;
    max-height: 60vh;
}

 .project-item a:nth-child(3) {
    margin: 0;
} 

.contactinfo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
article img {
    max-width: 85vw;
    max-height: 85vh;
}

.project-site {
    margin-left: 1.5rem;
}

.project-site img {
    max-width: 95vw;
}

.project-site p {
    font-size: 1.2rem;
    max-width: 100vw;
}

.featurephoto {
    margin: 0;
}
}

/* Layout for tablet devices */

@media screen and (min-width: 726px) and (max-width: 1023px) {
    .project-item a:nth-child(3) {
    margin: 0;
    }

    .logo {
    text-align: justify;
    }

    .project-site img {
    max-width: 95vw;
    }

    .project-site p {
    font-size: 1.2rem;
    max-width: 90vw;
    }
}

/* Layout for mobile devices and smaller tablets  */

@media screen and (min-width: 350px) and (max-width: 725px) {

    .wrapper { 
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto auto;
    grid-template-columns: 20rem auto; 
}

h3 {
    margin-left: 14rem;
}

.logo {
    text-align: justify;
}

main > h3 {
    margin-left: 9rem;
}

.project-item a img {
    max-width: 45vw;
    max-height: 45vh;
}

.project-item a:nth-child(3) {
    margin: 0;
}
.contactpage img {
    max-width: 30vw;
    margin-right: 2rem;
}

.contactinfo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 30%;
    margin: 0;
}

article img {
    max-width: 80vw;
    max-height: 80vh;
}

footer > h5 {
    margin-left: 8rem;
}
.project-site {
    margin-left: 4rem;
}

.featurephoto {
    margin: 0 2rem;
}

.project-site .logo {
    margin-left: 13rem;
}

.project-site p {
    font-size: 1.2rem;
    max-width: 75vw;
} 

.project-site h4 {
    font-size: 1rem;
}
}